/* =====================
NORMALIZE SETUP
===================== */

html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

/* =====================
GOOGLE FONT 
===================== */
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Roboto&display=swap');

/* =====================
GENERAL STYLES
===================== */
html {
	font-size: 125%; /* setting font-size default to 20px*/
	line-height: 1.5;
  color: rgb(62, 103, 101);
  background-color: rgb(217, 226, 213);
}

.wrapper {
  max-width:1000px;
  width:85%;
  margin:0 auto;
}

h1, h2, h3, li, p {
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  font-family: 'Lora', serif;
  font-weight: bold;
}

button, p {
  font-family: 'Roboto', sans-serif;
}

img {
  width:100%;
  height:auto;
  display:block;
}

h1,
h2,
form,
ul {
  margin: 0;
  padding: 0;
}

button {
  color: white;
  background-color: grey;
  font-weight:700;
  cursor: pointer;
  border-radius: 5px;
}

button:active,
button:focus-within,
button:hover {
  background-color: darkgray;
}

/* =====================
HEADER STYLES
===================== */

header {
  background-color: #3e6765;
}

.headerContainer {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  padding:2rem 0 1rem;
}

.titleContainer {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  background: rgb(217, 226, 213);
}

.imgContainer {
  width:8rem;
  height:auto;
  margin-right: 1rem;
}

h1 {
  font-size: 2rem;
  border-bottom: 5px solid #3e6765;
  margin-right: 1rem;
}

h2 {
  font-size: 1.5rem;
  color:white;
  text-align: center;
  padding: 2rem 0 1rem;
}



/* =====================
FORM STYLES
===================== */

.formContainer {
  padding: 1rem 0;
}


.taskForm {
  border-radius: 15px;
  display:flex;
  flex-direction: column;
}

.taskForm span {
  font-style: italic;
}

.inputContainer {
  display: flex;
}
.inputContainer input {
  flex: 1 1 auto;
  line-height: 1.75;
  border: 1px solid green;
  border-radius: 4px;
}

.addTaskButton {
  border: none;
  margin-left:.5rem;
  border-radius: 25%;
  background-color: green;
  width:2.5rem;
  height: auto;
}

.addTaskButton:active,
.addTaskButton:focus-within,
.addTaskButton:hover {
  background-color: rgb(0, 90, 0);
}

.displayButtonContainer {
  display:flex;
}


.displayButtonContainer input {
  position: absolute;
  visibility: hidden;
  left: -10000000rem;
	border: 0;
}

.displayButtonContainer label {
  background: #e4e4e4;
  width: 5rem;
  text-align: center;
  border: 1px solid rgba(62, 103, 101, 0.6);
	transition: all 0.1s ease-in-out;
  border-radius: 4px 4px 0px 0px;
}

.displayButtonContainer label:hover,
.displayButtonContainer label:focus-within,
.displayButtonContainer label:active {
cursor: pointer;
}
.displayButtonContainer input:checked + label {
  background-color: #a5dc86;
  border-bottom: none;
}

/* =====================
LIST STYLES
===================== */

.taskContainer {
  margin-top:1rem;
  margin-bottom: 2rem;
}

.individualTaskContainer {
  border: 2px solid rgb(62, 103, 101);
  border-radius: 0px 5px 5px 5px;
}

.deleteCurrentList {
  display:flex;
  justify-content: flex-end;
  padding:.25rem .25rem 0 0;
}

.deleteCurrentListButton {
  background-color: crimson;
}

.deleteCurrentListButton:active,
.deleteCurrentListButton:focus-within,
.deleteCurrentListButton:hover {
  background-color: rgb(133, 14, 38);
}

li {
  list-style: none;
}

.taskItem {
  display:flex;
  margin: 1rem 0;
  padding: 0 .25rem;
}

.taskCompleteContainer {
  display:flex;
  width: calc(100% - 105px);
}

.taskbuttons {
  display:flex;
  width: 105px;
}

.checkMarked {
  text-decoration: line-through;
}

.modifyTaskButton {
  background-color: rgb(99, 189, 99);
}

.modifyTaskButton:active,
.modifyTaskButton:focus-within,
.modifyTaskButton:hover {
  background-color:rgb(70, 138, 70);
}

.deferTaskButton {
  background-color: rgb(190, 190, 28);
}

.deferTaskButton:active,
.deferTaskButton:focus-within,
.deferTaskButton:hover {
  background-color:rgb(144, 144, 23);
}

.deleteTaskButton {
  background-color: crimson;
}

.deleteTaskButton:active,
.deleteTaskButton:focus-within,
.deleteTaskButton:hover {
  background-color: rgb(133, 14, 38);
}


/* =====================
MODAL STYLES
===================== */
.modal {
  position:fixed;
  right: 0;
  left: 0;
  bottom: 0;
  top: -3rem;
  background-color: rgba(0, 0, 0, 0.6);
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modalContent {
  width: 70%;
  max-width: 700px;
  border-radius: 15px;
  border: 5px solid #3e6765;
  padding: .5rem;
  color: #000;
  background-color: white;
  text-align: center;
  display:flex;
  flex-direction: column;
  position: relative;
}


.closeButton {
  position:absolute;
  background-color: crimson;
  right:.5rem;
  top:.5rem;
}
.closeButton:active,
.closeButton:focus-within,
.closeButton:hover {
  background-color: rgb(133, 14, 38);
}


.saveButton {
  background-color: green;
}
.saveButton:active,
.saveButton:focus-within,
.saveButton:hover {
  background-color: rgb(0, 90, 0);
}

.modalBody {
  display:flex;
  flex-direction: column;
  padding: 1rem 0 1rem;
}

.modalModify {
  display:flex;
}

.modalModify input {
  flex: 1 1 auto;
}


/* =====================
FOOTER STYLES
===================== */

footer {
  background-color: #3e6765;
  padding: .75rem 0 0.75rem;
  display:flex;
  justify-content: center;
}

footer p {
  color: white;
  text-align: center;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

/* =====================
MEDIA QUERES FOR RESPONSIVE DESIGN
===================== */

/* MOBILE RESPONSIVE DESIGN ADDITION */
@media (max-width: 480px) {
  
  /* HEADER ADJUSTMENT */
  .imgContainer {
    width:6rem;
  }
  
  h1 {
    font-size: 1.4rem;
  }

  h2 {
    font-size: 1.1rem;
  }

/* MODAL ADJUSTMENT */
.modalContent {
  width: 95%;
  border: 1px solid #3e6765;
  padding: .5rem 0.25rem;
  }

}